[2016-02-26 09:56] hfaran opened #1 "Add dynamic endpoints for channels"
`/channel/<channel_name>`

[2016-02-26 09:57] hfaran opened #2 "Add channel selector column on left like Slack"

[2016-02-26 09:59] hfaran opened #3 "Support pointing to a downloaded archive (automatic extraction)"
Should extract to /tmp/ or something and perform checksumming to see if extracted version already exists

[2016-02-26 09:59] hfaran opened #4 "Add README with simple usage"

[2016-02-26 09:59] hfaran opened #5 "Publish to pypi"

[2016-02-26 10:08] hfaran opened #6 "Support rendering emoji"

[2016-02-26 10:09] #1 closed, assigned to nobody

[2016-02-26 10:32] hfaran opened #7 "Handle channel names"

[2016-02-26 10:40] #7 closed, assigned to nobody

[2016-02-26 10:55] hfaran opened #8 "Proper bold and italics"
Slack's formatting specialness is ugh
https://api.slack.com/docs/formatting

[2016-02-26 11:19] #8 closed, assigned to nobody

[2016-02-26 11:21] hfaran opened #9 "Handle <!channel> as @channel"

[2016-02-26 11:22] hfaran opened #10 "Handle mailto: protocol linking"

[2016-02-26 11:24] #9 closed, assigned to nobody

[2016-02-26 11:31] #10 closed, assigned to nobody

[2016-02-26 11:58] #6 closed, assigned to nobody

[2016-02-26 13:06] #2 closed, assigned to nobody

[2016-02-26 21:32] hfaran opened #11 "Make production-ready by considering main() features from slack-overflow"

[2016-02-26 21:56] #3 closed, assigned to nobody

[2016-02-26 21:57] hfaran opened #12 "Set up proper logging"

[2016-02-26 22:15] hfaran opened #13 "Create setup.py"

[2016-02-26 23:08] #13 closed, assigned to nobody

[2016-02-27 01:10] hfaran opened #14 "Scroll to bottom of fluid div on page load"
All of the solutions on SO don't work :(

[2016-02-27 01:31] #11 closed, assigned to nobody

[2016-02-27 01:45] hfaran opened #15 "Support rendering bot messages"

[2016-02-27 02:37] #15 closed, assigned to nobody

[2016-02-27 03:23] hfaran opened #16 "Support code rendering"

[2016-02-27 03:52] #16 closed, assigned to nobody

[2016-02-27 04:26] #4 closed, assigned to nobody

[2016-02-27 05:33] hfaran commented on #5
Published

[2016-02-27 05:33] #5 closed

[2016-04-22 01:00] thundergolfer opened #19 ""This site can't be reached""
pip install worked correctly and command line indicates server is running:

`running on http://0.0.0.0:500/ (Press CTRL+C to quit)`

However when the browser tab opens you get a "This site can't be reached error".

[2016-04-22 01:21] hfaran commented on #19
Are you on Windows? If so, try `localhost` instead of `0.0.0.0`

[2016-04-22 01:29] hfaran commented on #19
Yeah, I'm going to guess that's the case; I'll make the default host `localhost` to be more Windows-friendly. Serving on all interfaces is probably a bad idea by default anyways.

[2016-04-22 01:38] #19 closed

[2016-04-22 01:42] thundergolfer commented on #19
Thanks! That fixed it, going to locahost:5000

[2016-04-22 01:52] hfaran commented on #19
I've got `0.1.3` ready to push to PyPI but it seems like PyPI is down right now... whenever it comes back up I'll push it. :P

[2016-04-24 00:48] hfaran commented on #19
PyPI was finally behaving today so the push has been fixed.

[2016-04-26 14:12] andrewthecoder opened #20 "Error on request?"
Hi, when I try to run slack-export-viewer I get the following error:

[code]

Any suggestions?

Thanks!

[2016-04-27 06:17] hfaran commented on #20
Ooh, this looks like a case I haven't encountered before. Would you be able to provide me with the archive you were trying to open so I can debug? I absolutely understand if there's sensitive data, in which case just the channels.json file from the archive would help.

As a workaround in the meantime, you could wrap that line as follows for now:

[code]

[2016-04-27 06:18] hfaran commented on #20
I'll actually push a fix tomorrow with the above patch, but I'd still like to understand why that specific channel name isn't in `__CHANNEL_DATA`, because it really **should** be.

[2016-04-27 13:42] andrewthecoder commented on #20
I've emailed you my channels.json. Thanks!

[2016-04-28 02:29] hfaran commented on #20
Yeah so looking in your channels.json, it appears information for that channel isn't available which is quite odd. I've pushed a fix for now to an other branch which will basically just set the channel name to its ID because there's no other data available.

Can you try installing the version on the branch with:
[code]
and tell me if it works?

[2016-04-28 09:02] andrewthecoder commented on #20
It does indeed! Thanks a bunch.

[2016-04-28 10:22] #20 closed

[2016-04-28 10:28] hfaran commented on #20
Lovely. I've just pushed version `0.1.6` to PyPI with this fix. You can install with `pip install slack-export-viewer -U` now if you wish.

[2016-04-29 09:41] ottominggu commented on #19
pip install worked correctly and command line indicates server is running:

running on http://localhost:5000/

However when the browser tab opens you get a "This site can't be reached error".

[2016-04-29 09:42] ottominggu commented on #19
Im using windows 7 and have install xamp, mysql on my pc can you help me

[2016-04-29 23:11] hfaran commented on #19
@ottominggu Are you sure you're using the latest version? `pip install slack-export-viewer -U` to make sure.

The latest version is working perfectly fine for me on Windows 10.

[2016-04-30 03:16] ottominggu commented on #19
pip install slack-export-viewer -U
Requirement already up-to-date: slack-export-viewer in c:\python27\lib\site-packages
Requirement already up-to-date: flask in c:\python27\lib\site-packages (from slack-export-viewer)
Requirement already up-to-date: click in c:\python27\lib\site-packages (from slack-export-viewer)
Requirement already up-to-date: markdown2 in c:\python27\lib\site-packages (from sla

[2016-04-30 03:18] ottominggu commented on #19
the result still same whats is wrong with my setup cause i already follow all step

[2016-04-30 04:16] ottominggu commented on #20
C:\>slack-export-viewer -z f:/Slackchat/hita.zip
/tmp\_slackviewer\2eb3aac8e2200c59495898f693f1a2752d946d34 already exists
 * Running on http://localhost:5000/ (Press CTRL+C to quit)
ERROR:root:A channel reference was detected but metadata not found in channels.json: u'C0AK0LRFX'
ERROR:root:A channel reference was detected but metadata not found in channels.json: u'C0AK0LRFX'
ERROR:root:A channel

[2016-04-30 04:17] ottominggu commented on #20
Any suggestions? already upgrade with latest version

Thanks

[2016-04-30 04:36] hfaran commented on #20
@ottominggu Thanks for the report; I'll open a new issue for this.

[2016-04-30 04:37] hfaran opened #22 "IndexError: list index out of range"
From @ottominggu
[code]

[2016-04-30 04:38] hfaran commented on #19
Opened #22 to follow up with your issue

[2016-04-30 04:38] hfaran commented on #20
Opened #22 to follow up with your issue

[2016-04-30 05:01] ottominggu commented on #22
slack-export-viewer -z f:/Slackchat/hita.zip
/tmp\_slackviewer\2eb3aac8e2200c59495898f693f1a2752d946d34 already exists
Traceback (most recent call last):
  File "c:\python27\lib\runpy.py", line 162, in _run_module_as_main
    "__main__", fname, loader, pkg_name)
  File "c:\python27\lib\runpy.py", line 72, in _run_code
    exec code in run_globals
  File "C:\Python27\Scripts\slack-export-viewer.exe

[2016-04-30 05:04] hfaran commented on #22
It's another bug. Also make sure to wrap your output above with triple-backticks. It's completely unreadable otherwise.

[2016-04-30 06:15] ottominggu commented on #22
but why on your capture picture there's no problem?

[2016-04-30 06:16] hfaran commented on #22
What capture picture?

[2016-04-30 06:21] ottominggu commented on #22
I mean on this https://github.com/hfaran/slack-export-viewer/blob/master/screenshot.png

[2016-04-30 06:26] hfaran commented on #22
It's because the Slack archive that I have tested with didn't have the specific type of message that yours does that is causing the bug. I'm not sure at this point what it is but I might add a debug mode tomorrow so I can find out and fix it.

[2016-04-30 06:28] Newbiegalau commented on #22
seems like icon(gif) problem maybe or link or picture maybe..

[2016-05-17 09:26] hfaran commented on #22
Resolved by #24

[2016-05-17 09:26] #22 closed

[2016-07-02 08:45] gazialankus opened #26 "Encoding issue"
[EDITED]
We have a Slack team with a unicode character in its name. We get the following error. Changing the name of the slack archive fixes it.

[code]

[2016-07-02 09:27] hfaran commented on #26
From first glance it looks the filename which you have actually redacted contains Unicode characters which is what is causing the issue here. You might want to unredact it if you'd like me to fix this. 😛

[2016-07-02 09:31] hfaran commented on #26
Oh never mind, I just saw your edit. A cedilla I see.
The fix should be a simple `.encode('utf-8')` on the string. You're welcome to try it out and see if that fixes it then submit a PR. 😄

[2016-07-02 09:35] hfaran commented on #26
Another potential fix you can try is what I did here: https://github.com/hfaran/slack-export-viewer/commit/de4f8595b5a7d4984ce0375dd38a3c91f829949c#diff-54c9835624412f076ed121e96671e26bR1

[2016-08-18 12:01] vlatko-va opened #28 "Links to posted images are broken"
/ are replaced with space, invalid html tags etc.

[2016-08-19 01:25] hfaran commented on #28
Please provide more details or examples

[2016-10-24 05:21] craigryan opened #29 "Python 3.5"
I made one slight change to this most excellent tool to get it running with python 3.5. I'm no python dev so I'm simply applying a fix suggested on a forum:

In app.py change both occurrences of this line to wrap keys() as a list:

    channels = list(flask._app_ctx_stack.channels.keys())

which solves a failure on startup:

TypeError: 'dict_keys' object does not support indexing

after that it wo

[2016-10-25 00:54] #29 closed

[2016-10-25 00:55] hfaran commented on #29
Thanks; fixed this in master. I'll put out a release later.

[2016-10-25 00:55] hfaran commented on #29
This would be a nice feature to eventually add. You should open a new issue for this. :)

[2016-10-25 00:58] hfaran commented on #29
If you want to use python3.5 by default for this, what you should instead of changing the startup script is to change the environment in which you're running this to be python3.5 by default.

But as you said, you're not a python dev, so doing this isn't obvious. In which case, I'd recommend just doing whatever is easiest for you to achieve what you need. :)

[2016-11-13 20:52] TFranke1 opened #30 "No such file or directory in tmp/_slackviewer"
I get an error upon processing the zip file. I am running OS X El Capitan. (I am very new to programing so I might be doing something wrong.)

10:~ TFranke$ slack-export-viewer -z /Users/TFranke/Downloads/Own-CL1.zip
/Users/TFranke/Downloads/Own-CL1.zip extracting to /tmp/_slackviewer/6775c84e42014a2a909e09769a2d07e86947f81a...
/Users/TFranke/Downloads/Own-CL1.zip extracted to /tmp/_slackviewer/67

[2016-11-14 01:55] hfaran commented on #30
How did you get this zip? The reason this doesn't work is because you have another folder **inside** the zip called Own-CL1 which has the files. The regular export from Slack doesn't have this.

[2016-11-14 01:57] hfaran commented on #30
So in order to get this to work, the zip file must contain the files directly. There should be not be a folder in between. Does that make sense?

[2016-11-14 11:19] TFranke1 commented on #30
hfaran, my bad. Safari was decompressing the zip file automatically and I was re-zipping it. I disabled the safe opening option in Safari, and now works like a charm. Thank you!. I have one more  question: From what I see, only text gets downloaded from slack, not pictures. Do you know any solution that downloads both text and pictures? We are using Slack to gather Retail Point of Sale data. We ad

[2016-11-14 11:46] hfaran commented on #30
Right now, slack-export-viewer only works with what it can get from the archive. What does the screenshot you're showing me look like with slack-export-viewer right now? Do the photos just not show up?

[2016-11-14 11:59] TFranke1 commented on #30
Exactly, on the export they don't show (and judging from the zip size, which is about 1.5 Mb, I guess they just don't download from slack, else this zip size would be near to 1 Gb. I am attaching a comparison of Slack vs the export.

<img width="1439" alt="comparison" src="https://cloud.githubusercontent.com/assets/23433993/20264079/85229146-aa48-11e6-9810-b89621cdc555.png">

[2016-11-14 12:03] hfaran commented on #30
That looks right. There is probably a way to make this work using the [files API](https://api.slack.com/types/file), but I unfortunately don't have any free time to spend towards this right now. If you know any programmer friends, maybe ask them if they'd be interested in helping you implement this.
I'm happy to look at pull requests, but just don't have time to implement this on my own right now.

[2016-11-14 12:03] #30 closed

[2016-11-29 21:53] feesh opened #31 "Installing on WebFaction"
Hi there!

I'm trying to get this hosted on WebFaction so I can share the archive viewer with my team, but am running into the following problem. Is there a way I can fork the viewer to not use the local Python 2.6, if that's the problem?

[code]

[2016-11-29 22:59] hfaran commented on #31
Python 2.6 is indeed problematic because it does not support dict comprehensions. I'm assuming you're using CentOS 7. Do you have Python 2.7 installed as well? What method did you use to install slack-export-viewer?

[2016-11-29 23:02] feesh commented on #31
Python 2.7 is installed also, but I can't seem to get it to use that explicitly.

... actually you're totally right, looking back at the install steps I took, I used 2.6 to install pip. Re-doing it with 2.7 it works. Thank you! :)

[2016-11-29 23:02] #31 closed

[2016-11-30 00:18] feesh opened #32 "Best method to run in production"
Hi there! :)

Thanks again for building this! I have a few additional questions about running it in production; in particular, I'm using WebFaction as my host, and have set up a `mod_wsgi 4.5.7/Python 2.7` app.

I'm attempting to run it with: `slack-export-viewer -z CMWW\ export\ Nov\ 29\ 2016.zip -p 5000 --no-browser` but presently I only see this output when I load the URL in the browser:

[code

[2016-11-30 08:35] hfaran commented on #32
What steps exactly did you use for setting this up? From what you've mentioned so far, it seems like you're serving content from slack-export-viewer on `localhost:5000` on the server and somehow expecting that to hook up automatically to the Apache/mod_wsgi setup you have going. That's not quite going to work. 😛

If you want to use mod_wsgi specifically, you'll need to look into the instructions g

[2016-11-30 08:39] hfaran commented on #32
**On the other hand**...

If you want a simple no-frills solution, just run slack-export-viewer with the flags instead: `slack-export-viewer -z <archive_path> --no-browser --ip 0.0.0.0 --port 80` to serve using the built-in werkzeug server directly, without having Apache server in front. Of course, this isn't *recommended* for *production* but that really depends on what you're use case is (if it'

[2016-11-30 08:40] hfaran commented on #32
Another solution: [Just use this to just get the HTML itself, and serve that using Apache or nginx directly.](https://github.com/hfaran/slack2html).

[2016-11-30 19:18] feesh commented on #32
Ahhh okay, thank you I'll give these steps a try!! Yeah I was definitely expecting the `localhost` launch to "just work" but I see the error of my ways... 😬  Appreciate your help, will let you know how it works out!

[2016-11-30 19:18] #32 closed

[2017-03-10 19:49] BenneyP opened #34 "UnicodeDecodeError"
I have been able to run other Slack exports up until today.

I get this in the traceback. Any help is appreciated.

Traceback (most recent call last):
  File "C:\Users\bpenney\AppData\Local\Programs\Python\Python36-32\Scripts\slack-export-viewer-script.py", line 11, in <module>
    load_entry_point('slack-export-viewer==0.2.0', 'console_scripts', 'slack-export-viewer')()
  File "C:\Users\bpenney\A

[2017-03-17 17:05] hargup opened #35 "[Enhancement] messages should be linkable"
Every message should have an associated permalink so that we can refer them in discussions and documents.

BTW thanks for creating this.

[2017-03-19 10:38] #35 closed

[2017-03-28 19:05] vetash commented on #34
@BenneyP i have similar problem, and got workaround:
Slack recently add `Your channels, your language` feature that allow you to add channel in any languange. So if you have not latin characters in your room name you should exclude that channels from zip file (simply remove from them archive) and remove section with these channels from `channels.json` file.

[2017-04-14 13:53] derekbruff commented on #28
I'm having the same problem. I'll see things like "@derek uploaded a file:" but there will be nothing after the colon. No image, no link to an image, just nothing.

[2017-04-17 19:39] bartschuller commented on #34
I got the same error on Windows using Python36, but not on Mac using Python 2.7. The reference in the stack trace to "cp1252.py" is suspicious because we don't want any platform-specific things happening to the nice UTF-8 files.

In my case there were no channels with strange characters in their names, but messages do have them.

[2017-05-13 00:41] TangSteven commented on #34
Same issue on Windows 10 64bit Python36-64
Here is the only difference in the log:
	UnicodeDecodeError: 'charmap' codec can't decode byte 0x81 in position 10274: character maps to &lt;undefined&gt;
Seems like "&lt;undefined&gt;" was messed up by markdown.

[2017-05-13 00:43] TangSteven opened #37 "A demo or an Example"
It would be a great benefit if an example of the html output was in this repository. I can't seem to try it until #34 is fixed. Also, I would like contribute by improving the css, if the screenshot is accurate.

[2017-05-22 09:32] hfaran commented on #34
Does anyone have a sample json file they'd like to volunteer? Seems like we just need to use the correct encoding when `json.load`sing the file (if indeed everyone here is having the same issue).
Should ideally be a relatively simple fix assuming that is the issue.

[2017-05-22 09:34] hfaran commented on #37
If you have an example dataset you'd like to volunteer to add as an example, that would be fantastic.
And yep, I'll try to get #34 fixed, but I need a json file with the offending characters to reproduce the issue.

[2017-06-16 12:48] florian-schummer opened #41 "entry point on windows is fake news"
doesn't work
#makeslackviewergreatagain

also running from hand, by starting the mainscript on the command prompt doesn't work and doesn't give any errors....

[2017-06-17 03:05] hfaran commented on #41
I don't know what to tell you, other than you're doing it wrong. :P

The likely issue I'm guessing is that you don't have the Scripts folder where these get installed by `pip` in your PATH . For example, here is where it lives on my Windows 10 machine with the Anaconda distribution of Python 3:

[code]
[code]

[2017-06-17 03:07] hfaran commented on #41
As for this, I have no idea what your environment is like, so I can't offer any help here unless you provide more details.

[2017-06-17 03:07] #41 closed

[2017-06-19 14:20] hermanbanken commented on #28
Actually there is, but it is non-valid HTML:
[code]

Corresponding JSON:

[code]

[2017-06-23 16:56] SpitUnicsoft commented on #37
Hi @hfaran!
Thank you for your great job!
Please take a look at the file attached (hf.zip). It produces next error on Windows 10 x64:
C:\XX>slack-export-viewer -z hf.zip
/tmp\_slackviewer\1e1584694b283d5f2c098dec43343d00426c2536 already exists
Traceback (most recent call last):
  File "c:\program files (x86)\python36-32\lib\runpy.py", line 193, in _run_module_as_main
    "__main__", mod_spec)
  Fi

[2017-06-26 10:55] SpitUnicsoft commented on #34
Hi @hfaran!
Thank you for your great job!
Please take a look at the file attached (hf.zip). It produces next error on Windows 10 x64:
C:\XX>slack-export-viewer -z hf.zip
/tmp_slackviewer\1e1584694b283d5f2c098dec43343d00426c2536 already exists
Traceback (most recent call last):
File "c:\program files (x86)\python36-32\lib\runpy.py", line 193, in run_module_as_main
"main", mod_spec)
File "c:\program

[2017-08-17 03:21] MikeFoden commented on #34
@bartschuller Did you try this with Python 2.7 on Windows?

[2017-08-17 06:37] bartschuller commented on #34
@MikeFoden Sorry, I didn't and it's not easy for me to try.

[2017-09-01 14:40] razvan-panda opened #43 "Compatibility with hisabimbola/slack-history-export"
Any plans to make the tool be able to use files exported by:

https://github.com/hisabimbola/slack-history-export

?

[2017-09-08 19:55] jonathangjertsen commented on #34
With Python 3.6, I got rid of this error (probably caused by the characters æøå used by my Norwegian Slack team) by adding `encoding="utf-8"`  to the relevant calls to `open()` in archive.py. I think this breaks compatibility with Python 2, but I haven't tested that. https://github.com/jonathangjertsen/slack-export-viewer/commit/fea797e9fd2dd2cbe591d71f74e50de1abed2ea2

[2017-09-09 15:10] mario6097 opened #44 "Download pictures"
Hi

As far as I see, slack-export-viewer does not create code to see pictures on the local page, it renders  only a link to the slack url of the picture, doesn't it?
Indeed, it would be nice to have slack-export-viewer be able to download pictures in a local folder.
Any chance to see a improved code (which is already indeed very useful, but could be even more useful)
Thanks Cheers
mario

[2017-09-10 03:38] hfaran commented on #44
At this time, I unfortunately don't have time to implement this, but I absolutely welcome a PR from you if you're up to the challenge. :)

[2017-09-10 03:41] hfaran commented on #44
Actually, this PR already added it I believe: https://github.com/hfaran/slack-export-viewer/pull/40
But it looks like the original contributor has left it. If you want to fix the couple comments I left on it, I will gladly accept it.

[2017-09-10 13:46] mario6097 commented on #44
Hi hfaran,
nope, unfortunately I have not an idea how to do it.
Indeed, there is even something basic about Slack and picture I do not get, see [here](https://stackoverflow.com/questions/46132852/how-do-i-download-images-form-slack-by-php-or-wget)

[2017-11-29 18:57] darksheik opened #45 "Sidebar correctly shows my channels but main panel is blank"
Hi there!  I have slack-export-viewer running on a webserver and serving content.  Running on Ubuntu 16 with Nginx running as a proxy.

It seems to be serving the channel pages correctly and responds 200:
[code]

I definitely have files in these channels:

[code]

But the HTML served has nothing in the messages area:

[code]

[2017-11-29 19:03] darksheik commented on #45
Sorry!  I realized my issue.
I unzipped and rezipped and didn't include files recursively. :(

[2017-11-29 19:03] #45 closed

[2018-01-01 12:57] mcoster opened #47 "Export viewer compatibility with slack-auto-export"
I wanted to combine [slack-auto-export](https://github.com/hfaran/slack-auto-export) with this viewer and [slack2html](https://github.com/hfaran/slack2html) to automate the process of exporting a public slack workspace to static html for archival as a git repo, ie. without the need to manually download .zip histories from slack. To do this, I just had to tweak a few lines in both repos. My forks a

[2018-01-05 09:50] hfaran commented on #47
That would be quite nice! I currently don't have time to expend towards that but support any passerbys that would like to pick it up!

[2018-01-07 18:07] depperson opened #48 "extracted archives not working"
I'm trying to use the --archive option to read a directory instead of a zip file but it doesn't work.  I've tried a few variations to the path spec like ./slackarchives and /code/slackarchives and /code/slackarchives/ to no avail.

[code]
This seems to be a problem with [https://github.com/hfaran/slack-export-viewer/blob/0.2.0/slackviewer/archive.py#L47](archive.py#L47).  I might eventually get ar

[2018-02-24 06:41] hfaran commented on #43
I haven't used that - does this recently merged PR ( https://github.com/hfaran/slack-export-viewer/pull/49 ) have anything you're looking for? Or is the output from that in an entirely different format? If so, feel free to add support :)

[2018-02-24 06:48] #34 closed

[2018-02-24 06:48] hfaran commented on #34
Only took me about a year, but finally got around to running it on my Windows box and fixing the issues. Encoding issue should be fixed!

[2018-02-24 06:49] hfaran commented on #26
Should be resolved with https://github.com/hfaran/slack-export-viewer/commit/ac4eafbd51d54c7f7379500441e38cd7f328c1bb

[2018-02-24 06:49] #26 closed

[2018-02-25 22:46] tscritch commented on #48
@hfaran I can take a look as I continue to add some features in the next few weeks 👍

[2018-03-16 19:51] tscritch opened #51 "JSON Dump error"
Using python v2.7
`python app.py -z MySlackExport.zip`

gets this error when extracting the zip:
[code]

Is there another json dump argument or json to fix this?
I'll do some research to resolve this today.

[2018-03-16 20:17] tscritch commented on #51
This is fixed using python v3.6. Any suggestions to resolve for v2.7?

[2018-03-18 07:12] #14 closed

[2018-03-18 09:07] #51 closed

[2018-03-18 09:12] hfaran commented on #51
Fixed in 0.3.3! This also prompted me to finally set up CI for this project on Travis. Hopefully breaks between py2 and py3 won't slip through in the future with that :D

[2018-03-19 09:47] #44 closed

[2018-03-20 16:12] tscritch commented on #51
Looks good! Thanks! Yay for CI!

[2018-03-27 15:46] traxinv opened #57 "Mistake In Messages.CS CreateSlackMessageHtmlArchiveFile"
Good day,

First off thank you very much for this it helped my tremendously.

I found a small mistake in your code in the procedure: static void CreateSlackMessageHtmlArchiveFile the write to HTML was taking the first 250 lines every time instead of being incremented with  messageIndexPosition.

Also the HTML file being produced did not have any CR LF in the file causing it to become unmanageable

[2018-03-27 15:49] traxinv commented on #57
crap wrong project.. please close.

[2018-03-27 15:49] #57 closed

[2018-04-03 00:45] a-zndr opened #58 "error with compile_dm_users"
Exported today cannot get this to work from zip

running

`sudo slack-export-viewer -z /Users/<usr>/Downloads/<domain>\ Slack\ export\ Apr\ 2\ 2018.zip`

errors

[code]

[2018-04-03 08:32] hfaran commented on #58
@tscritch this code was added by you. There are no comments indicating exactly what this function does and why and how. Could you shed some insight? (And add some comments for this).

[2018-04-03 08:50] a-zndr commented on #58
Thanks for following up @hfaran

[2018-04-03 17:01] tscritch commented on #58
Could be that the user doesn't exist. I'll take a look and comments as soon as I can. Sorry about that!

[2018-04-24 20:42] tscritch commented on #48
Hey @depperson

I have determined that the issue is with the usage of os.path. It works with the full file path from the root directory. Try a path like this for now:
`/Users/<youruser>/Documents/MyExtractedSlackArchive`

 I'm working on a fix right now. Sorry for the wait!

[2018-04-27 02:16] shanness opened #59 "Can't load new exports, but can load old ones. ValueError: Extra data:"
ValueError: Extra data: line 33 column 2 - line 60 column 2 (char 1257 - 1952)

[code]

[2018-04-27 02:36] shanness commented on #59
I changed the code in compile_channels to catch the error
[code]

```Error  Extra data: line 33 column 2 - line 60 column 2 (char 1257 - 1952)  with data  <_io.TextIOWrapper name=u'/tmp/_slackviewer/fabe5eeee0ff9d65446eece86d25dec91615210f/team-site/2017-01-10.json' encoding='utf8'>```

```Error  Extra data: line 33 column 2 - line 60 column 2 (char 1257 - 1952)  with data  <_io.TextIOWrapper name

[2018-04-30 23:18] tscritch commented on #59
Hey @shanness,
I'm currently refactoring this section of the code. I'll take a look at this as well.
Thanks!

[2018-05-01 11:57] shanness commented on #59
Ta.  Worked perfectly!  I hacked to to filter only messages with a certain annotation, and only include channels with filtered messages, which was perfect for some reporting we had to do.  Thanks for the great codebase, easy to work with!

[2018-05-01 17:11] tscritch opened #61 "Adding search to list of channels"
I want to add a search bar to fuzzy search all of the names of the channels, groups, dms, mpims.

[2018-05-01 17:34] tscritch opened #62 "Making it server ready"
I want to make this deployable to a server so you can upload a zip and view the export.
@hfaran can you recommend a good way go about this?

[2018-05-02 13:26] accuratefeed opened #63 "IndexError: list index out of range"
I saw #24 and I thought this issue was fixed.  I'm getting the following error:

`PS C:\Users\AccurateFeed\downloads> slack-export-viewer --archive ldrs.zip
ldrs.zip extracting to C:\Users\AccurateFeed\AppData\Local\Temp\2\_slackviewer\5e226d974f1b15de666dab44c8ea52f329d39587...
ldrs.zip extracted to C:\Users\AccurateFeed\AppData\Local\Temp\2\_slackviewer\5e226d974f1b15de666dab44c8ea52f329d39587.

[2018-05-02 16:35] tscritch commented on #63
Hey @accuratefeed can you add your channels.json file or a snippet of it. The only reason I can see this happening is because there are no channels at all. But if that's not the case I can test with your data.
Thanks!

[2018-05-02 16:46] accuratefeed commented on #63
Hi @tscritch thanks for replying so quickly.  The channels.json file is indeed empty.  I contacted slack about this and they're not sure why it's empty either.  I do have the folder of the channel I'm trying to view though and the other json files such as users.json has data in it.  I'm really just trying to put this 1 channel in a viewable format, so if you have any other suggestions, please let

[2018-05-02 18:38] tscritch commented on #63
Wow. Interesting! haha
Well the list of channels is created from that channels.json so we need it... I would suggest for now just manually creating the file. Go to the tests folder in this project and open the zip to find the channels.json and just copy one from there. I'm not sure what else you could do if you don't have data in that file.

[2018-05-03 12:55] accuratefeed commented on #63
@tscritch I was able to find a channels.json with data in it.  Now I'm getting the following error:

ldrs.zip extracting to C:\Users\jukou\AppData\Local\Temp\2\_slackviewer\25cc1dfe34b348f9bc8e83888e92fcff8f708853...
ldrs.zip extracted to C:\Users\jukou\AppData\Local\Temp\2\_slackviewer\25cc1dfe34b348f9bc8e83888e92fcff8f708853.
Traceback (most recent call last):
  File "c:\users\jukou\appdata\loca

[2018-05-03 16:47] tscritch commented on #63
Ah jeez haha it looks like that would be a character it can't read for some reason... I'm not too experienced with that stuff. @hfaran any insight?

[2018-05-04 15:42] tscritch commented on #63
Ok great.
It is using utf8 👍

[2018-05-05 02:26] hfaran commented on #63
@tscritch Looking at the stack trace that @accuratefeed posted, the bug is here: https://github.com/hfaran/slack-export-viewer/blob/5d9608d3945aa822bced0139477c811c4f8c9ab9/slackviewer/reader.py#L145-L147

![image](https://user-images.githubusercontent.com/2450496/39658863-054d5fd4-4fd1-11e8-81b7-9b497f2f4f82.png)

You're missing the `encoding="utf8"` argument on io.open

[2018-05-05 02:28] #63 closed

[2018-05-05 02:29] hfaran commented on #63
Committed the fix, but I'm gonna wait until your next PR goes to make a new release

[2018-05-05 02:36] hfaran commented on #63
Actually, I went ahead and released 0.6.0. @accuratefeed please try it

[2018-05-05 02:36] hfaran commented on #59
This looks like the same bug that I fixed in #63. @shanness please try the new release 0.6.0 and see if it works.

[2018-05-05 02:36] #59 closed

[2018-05-05 02:37] hfaran commented on #58
Resolved by #60

[2018-05-05 02:37] #58 closed

[2018-05-31 07:07] future731 opened #65 "Misc - fix username USLACKBOT to slackbot"
Slack export json sometimes has username USLACKBOT, so it's better to rename it to slackbot in slackviewer/message.py

[2018-05-31 07:21] future731 opened #66 "backquote string "`" is deleted in message.py"
I've noticed that inline backquote symbol in a comment like `something` is somehow deleted. I haven't found the reason yet.

[2018-05-31 07:27] future731 opened #67 "Add thread tracking feature"
It's good to have thread function.

[2018-05-31 07:28] future731 opened #68 "Show emoji reactions to messages"
It's better to show emoji reactions on messages.

[2018-05-31 23:36] tscritch commented on #68
@future731 Are you thinking about opening a pull request for these features?

[2018-06-01 02:17] future731 commented on #68
@tscritch
I've already fixed USLACKBOT issue in my local repository, so I'll send a pull request to that one and close the issue.
I'm now struggling with this emoji one because it seems that emoji url is missing in archive json files.
I don't think I'll create a pull request about the thread tracking one. Backquote one neither.

[2018-06-01 03:50] future731 commented on #65
fixed in #69

[2018-06-01 03:50] #65 closed

[2018-06-08 04:48] future731 commented on #61
I guess the easiest way is to make a page that all the messages are shown all together,
and users will be able to search with browser's search function(eg. Chrome's Ctrl-f shortcut)

I'm wondering if we can use [elasticsearch](https://www.elastic.co/products/elasticsearch) for the search engine.

[2018-06-13 23:00] tscritch commented on #61
I was thinking the same thing for using elasticsearch! I need to look into it more but I'd love to implement this soon.

[2018-06-16 13:03] Mikeldiazot commented on #48
Hi @tscritch
I am having the same problem. I tried with the full file path but nothing. Could you help me? It seems to be a great tool/code:
MacBook-JJ:~ JJ$ slack-export-viewer -z /users/JJ/documents/slack162018
Traceback (most recent call last):
  File "/usr/local/bin/slack-export-viewer", line 11, in <module>
    sys.exit(main())
  File "/Library/Python/2.7/site-packages/click/core.py", line 72

[2018-06-16 14:05] Mikeldiazot opened #71 "extracted archives not working"
Hi @tscritch,
I can´t view the zip file after following instructions.
Here is the log:

MacBook-Air-de-Mikel:documents mikel$ slack-export-viewer -z slack162018.zip
slack162018.zip extracting to /var/folders/ph/gzh9clr1397fdk2m1013fhxc0000gn/T/_slackviewer/50ea6ff3ec9f9e745ead757609080e968c1c7706...
slack162018.zip extracted to /var/folders/ph/gzh9clr1397fdk2m1013fhxc0000gn/T/_slackviewer/50ea6ff3

[2018-06-18 16:58] tscritch commented on #48
@Mikeldiazot is this `/users/JJ/documents/slack162018` a zip file? If so, you need to add the extension to the end for the full file path. It would look like this `/users/JJ/documents/slack162018.zip`

If it is a directory remove the `-z` option. Your command would look like this:
`slack-export-viewer /users/JJ/documents/slack162018`

[2018-07-09 20:36] jlgore opened #72 "500 Internal Server Error / TypeError"
Hello, I am attempting to use this on a Mac. I get a ```TypeError: '<' not supported between instances of 'dict' and 'dict'```

Not sure if I'm doing something wrong, but here's my output:

[code]

[2018-07-15 14:26] ikeji opened #73 "Pagination support"
I have a log data that like 200M.
One room has 20M data.
Opening slack-export-viewer will freeze my browser.

Do you have a plan to add per day/month page?

[2018-08-28 17:55] benwarfield-usds commented on #28
The changes in benwarfield-usds/slack-export-viewer#1 are intended to address at least some of these issues, and make it easier to address others—no formal PR to this repo yet because it's dependent on #76 and would be confusing to look at without that being merged.

[2018-08-31 14:49] benwarfield-usds opened #77 "Printable export"
This is more of an offer than a request: I recently used slack-export-viewer to produce a printable single-file extract of an entire workspace, for archival purposes. This involved some feature additions and bug fixes, which I've either submitted or am preparing to submit, but also some additional work to produce a command-line script that generates a (mammoth) HTML file that I can then turn into

[2018-09-01 06:01] hfaran commented on #77
Sure thing! Actually, this would be great to work in as a command into [`cli.py`](https://github.com/hfaran/slack-export-viewer/blob/master/slackviewer/cli.py). The commands on there can be used with [`slack-export-viewer-cli`](https://github.com/hfaran/slack-export-viewer/blob/master/setup.py#L37) when it's installed.

You raise a good point about scope, but I think I'm only worried about scope a

[2018-09-01 06:31] hfaran commented on #71
I just published v0.7.0 - can you update your version and try again and see if this is still happening?

[2018-09-01 06:34] hfaran commented on #66
Is this still happening? Do you have any examples showing this? (Original message on slack, a screenshot of slack-export-viewer, and the generated HTML as well would be useful).

[2018-09-01 06:36] hfaran commented on #72
Can you try and see if this is still occurring with the latest release (0.7.0)?

[2018-09-03 02:11] future731 commented on #66
I haven't noticed that backquote is displaced with <code> tag until I saw the raw html code. I'll close this issue.

[2018-09-03 02:11] #66 closed

[2018-09-15 19:44] #77 closed

[2018-09-17 16:35] TomRoark opened #80 "Browser not opening"
Hiya, I'm unable to get to the browser pop stage of the program, seeing the following:

admin$ slack-export-viewer -z slack_exp.zip
slack_exp.zip extracting to /var/folders/pw/9pswtvxj7214t6pjf5zdk3bc0000gn/T/_slackviewer/9e5361f4333a34ad9e8ca7a2fb08ec378a2bf40e...
slack_exp.zip extracted to /var/folders/pw/9pswtvxj7214t6pjf5zdk3bc0000gn/T/_slackviewer/9e5361f4333a34ad9e8ca7a2fb08ec378a2bf40e
Trac

[2018-09-24 11:42] onewhaleid commented on #28
Has any progress been made on this? I have "fixed" the issue on my fork, but my code is pretty dirty (it relies on overriding the CSS within the img tag).

[2018-09-25 21:09] undaunt commented on #80
Seeing the same thing today. MacOS

[2018-10-02 03:03] georgebrindeiro opened #81 "UnicodeEncodeError: 'ascii' codec can't encode character u'\xe3' in position 2: ordinal not in range(128)`"
Hi! Thanks for creating this great tool!

I am currently able to load my Slack Workspace Export, however some channels lead to a 500 Internal Server Error. Investigating the messages output in the terminal, I frequently see messages like:

`UnicodeEncodeError: 'ascii' codec can't encode character u'\xe3' in position 2: ordinal not in range(128)`

What could that be?

Cheers,
George

[2018-10-03 22:52] cereal76 opened #82 "Slackbot variable problem"
File "c:\users\username\appdata\local\programs\python\python37\lib\sitepackages\slackviewer\formatter.py", line 37, in find_user    "real_name": bot_name,
UnboundLocalError: local variable 'bot_name' referenced before assignment

[2018-10-10 14:39] jakubgs opened #83 "Uses up all the memory on the host and then fails"
I tried using this but it just sucks up all the memory available and then fails. I don't see how this is usable.

[2018-10-23 19:28] cereal76 commented on #82
Figured it out. On line 33 add:

`  else:
                bot_name = None
                bot_url = None`

[2018-10-29 13:45] uavpal commented on #81
same here: UnicodeEncodeError: 'ascii' codec can't encode character u'\xfc' in position 7: ordinal not in range(128)

mine seems related to an URL: result = "<a href=\"{url}\">{title}</a>".format(url=url, title=title)

probably similar to https://github.com/hfaran/slack-export-viewer/commit/ac4eafbd51d54c7f7379500441e38cd7f328c1bb
and it's just a missing `encoding="utf8"` somewhere.

Rgds
SoftIce

[2018-10-30 14:31] uavpal commented on #81
I can get around it by adding
[code]

starting from line 7 in formatter.py.
Probably only required for Python 2.7.

[2018-10-30 14:36] uavpal commented on #82
had the same issue and your solution fixed it! thanks man!

[2018-10-31 07:14] hfaran commented on #82
Resolved by #84 . Published v 0.8.1.

[2018-10-31 07:14] #82 closed

[2018-11-27 20:57] maxbuxton opened #85 "Tool breaks if Workspace has shared channels enabled"
If you have Slack's public beta feature, "Shared Channels" enabled on your workspace, the tool won't be able to launch when run against the export.

This is because there are user IDs referenced in the dms.json and/or the mpims.json files which are not listed in the users.json file.

[2018-12-21 15:48] semperrabbit commented on #73
I'm playing with this for an open slack that was created new years '16 so I am having issues with this too. Since all of the rendering is server-side, would it be easier to add a date range at the top of the page, and only render the chat between those dates? it could default to the most recent month to keep from overwhelming the browser, and getting quicker load times. So far, it's taken about 22

[2018-12-27 09:19] hfaran commented on #73
@semperrabbit That sounds like a reasonable proposal, and I'd welcome a PR if anyone wants to put one up.
I could work on this myself, but it's not something I'd be able to get to within the next couple months likely.

[2018-12-27 09:22] hfaran commented on #83
It's possible that the archive you're trying to load is too large and the tool fails trying to load and render everything in memory. Something #73 might help with if it gets implemented.

[2018-12-28 03:53] #83 closed

[2018-12-28 03:53] hfaran commented on #83
Thanks @vweevers! I just merged a variant of this solution. @jakubgs let us know if that helps.

[2018-12-28 22:41] lsmith77 commented on #68
@future731 ping? :)

[2018-12-29 01:57] future731 commented on #68
@lsmith77 pong. I'm struggling with this issue because we have to login the webpage to match the emoji email address.
It's pretty easy to show bare text like ":+1: by John, Mark"just after the msg text.

[2018-12-29 02:30] future731 commented on #68
Sorry that I've accidentary closed this issue, and I reopened this.

[2018-12-29 02:53] future731 commented on #68
https://github.com/future731/slack-export-viewer/commit/667e74c3717cb5c4add8f521597c575f4dde9932

The link above is the easiest workaround, but there are several reasons I didn't make a pull request.
1. a bot can react with emoji, which makes hard to convert slack user id into slack username.
Furthermore, even if we ignore bot emoji reaction, using self._message.get("reactions", [])[0].get("users"

[2018-12-29 21:46] tjanez opened #88 "Wrong order of messages (descending) within the same day"
This is an excerpt from the original Slack client, where messages are ordered correctly (i.e. in ascending order):
![original-slack-correct-order-within-the-day](https://user-images.githubusercontent.com/2518544/50542323-38b9c780-0bbb-11e9-958f-0bcab0c8e04d.png)

This is the same excerpt as rendered by slack-export-viewer, where messages are in wrong order (within the same day):
![slack-export-vie

[2018-12-30 03:43] hfaran commented on #88
What version of slack-export-viewer were you using?

On Sat, Dec 29, 2018, 1:46 PM Tadej Janež <notifications@github.com> wrote:

[2018-12-30 16:32] tjanez commented on #88
Version 0.8.2 installed from PyPI.

[2019-01-04 15:20] lsmith77 commented on #68
indeed .. the user.py would need to be refactored to be able to handle user ids from reactions properly.

I tried to improve the code a bit but likely do to being a total python n00b this code is just producing empty reaction div's

[code]

[2019-01-04 17:38] lsmith77 commented on #68
will look into creating a PR

[2019-01-04 19:17] lsmith77 opened #90 "make the viewer useful in order to present chat logs"
I want to use this script to upload chat logs.
As such I would prefer no sidebar, ideally HTML that is as self-contained as possible (potentially a flag to not include avatars, attachment icons etc).

Would you be open to supporting this a use case if I provide PRs?

[2019-01-05 05:19] osterman opened #91 "TypeError: string indices must be integers"
## what
* Unable to use `0.8.2`, `0.8.1`, `0.8.0`, `0.7.0` on `alpine:3.8` with `python3` installed via `pip3`
* Export was generated by running https://github.com/hfaran/slack-auto-export (successful!)

## output
<details>
<summary>TypeError: string indices must be integers</summary>

[code]
</details>

Relevant user snippet...
[code]

[2019-01-06 12:19] hfaran commented on #91
Would you mind adding a try catch around that statement and checking what the value of `u` is when it errors out? I'm curious to know why it's a string and not a dict and what it contains.

[2019-01-15 20:44] #90 closed

[2019-01-22 16:55] bill2239 opened #94 "is there a way to save the output as html pages?"
I know it can view as html page, is there a functionality to make these save as local html files? thanks

[2019-02-02 07:20] hfaran commented on #94
I wrote slack2html for this exact purpose - give it a try: https://github.com/hfaran/slack2html

[2019-02-02 07:20] #94 closed

[2019-02-07 18:05] bill2239 commented on #94
I have found a solution to do so, maybe will create a pull request in the future.

[2019-02-13 02:09] alsrealbad opened #95 "Exporting direct messages using Fount export app"
I'm trying to export a direct message chain retrieved using Fount's export app:
http://export.fountstudio.com/web/install

The app will produce a .json file, but the output file is not zipped. I've zipped the file and run slack-export-viewer and get the error message below. Will Fount's export app work with slack-export-viewer or am I experiencing other issues?

Error:
(venv) al@Altop ~ $ slack-ex

[2019-02-13 03:20] hfaran commented on #95
Currently only the standard export format from Slack is supported. I've never used Fount so I don't know what format this is in. Feel free to propose or submit a PR for supporting this format if you think it would be useful.

[2019-02-18 23:49] JOE-DCG opened #96 "500 Internal Server Error"
Installed the newest Python for Windows on 2 machines. Both failing with the 500 Internal Server Error again when running slack-export-viewer.

IndexError: list index out of range

[2019-02-20 09:55] hfaran commented on #96
Please post the full stacktrace. It's impossible to debug with information this limited.

[2019-02-22 07:39] k-spit commented on #96
I ran into the same issue as @JOE-DCG.

`ubuntu@ubuntu:~/slack-export$ slack-export-viewer -z slack_export.zip/tmp/_slackviewer/6081d0fe198607ec79321dde75e9aca4f2546d77 already exists
 * Serving Flask app "slackviewer.app" (lazy loading)
 * Environment: production
   WARNING: Do not use the development server in a production environment.
   Use a production WSGI server instead.
 * Debug mode: off

[2019-02-22 09:18] hfaran commented on #96
@k-spit Two options to help debug here:

1) Please paste/upload the contents of your channels.json from the archive here so I can take a look, or
2) Add a breakpoint here to see what's happening when your channels are attempted to be loaded

[2019-02-22 09:52] hfaran commented on #28
@benwarfield-usds I'm assuming you gave up on your attempt on this?

I actually don't have a good repro of this because in the archive I'm testing with (one of my own teams), I don't have any previews that say "x uploaded a file:", for me the images do just work. So I probably don't have the same kind of content somehow that you guys have.

[2019-02-22 12:03] k-spit commented on #96
Here is the content of my channels.json from the archive. Because it is a company account, I had to anonymize values. Hope this does not matter.

`[
  {
    "id": "anon",
    "name": "anon",
    "is_channel": "anon",
    "created": "anon",
    "is_archived": "anon",
    "is_general": "anon",
    "unlinked": "anon",
    "creator": "anon",
    "name_normalized": "anon",
    "is_shared": "anon",

[2019-04-01 12:24] Mela opened #97 "500 Internal Server Error: KeyError: 'bot_id'"
I've installed slack-export-viewer via pipsi in Linux. When running the viewer against my archive I get an Internal Server Error (500).

Trace:

[code]

[2019-04-04 00:37] karlding commented on #96
I bisected this, and it seems like this is due to the change introduced in #93.

[code]

If I revert this commit (`f746a77f419b2a76e625763a52fc0fa0aa5faba8`) it works as expected.

The problem is because `channels` is always an instance of a `str` due to the way the argument is passed in.

[2019-04-04 00:46] karlding commented on #96
I bisected this, and it seems like this is due to the change introduced in #93.

[code]

If I revert this commit (`90ca642551d8d907125ab4a09f7e97bfc1dfd72d`) it works as expected.

The problem is because `channels` is always an instance of a `str` due to the way the argument is passed in.

[2019-04-04 04:07] hfaran commented on #96
@karlding to confirm, your new PRs fix this issue, correct?

[2019-04-04 04:17] karlding commented on #96
Yes, this should be fixed by #98.

[2019-04-12 05:23] #96 closed

[2019-05-02 22:19] alexvirital commented on #97
I also have this problem and have yet to find a solution.

[2019-05-03 09:57] hfaran commented on #97
I just published 0.9.0 which includes a few bugfixes from the past few months - please try the new version and see if it fixes your issue.

[2019-05-03 15:53] alexvirital commented on #97
Seems to have fixed that bug, but now breaks compatibility with slack2html.py.  😞

[code]

[2019-05-09 11:04] hfaran commented on #97
Ah, yeah I'll fix that in slack2html and pin the dependency of slack-export-viewer in it to a particular version so it doesn't break in the future. I'll close this issue since it's reported fixed but open one for the break of slack2html in it's repo.

[2019-05-09 11:04] #97 closed

[2019-06-10 15:11] snwdvl opened #100 "keyerror"
when trying to view I keep getting this error.  Any clue what might be causing it?
  File "/usr/local/bin/Slack-Export-Viewer", line 9, in <module>
    load_entry_point('slack-export-viewer==0.9.0', 'console_scripts', 'slack-export-viewer')()
  File "/Library/Python/2.7/site-packages/click/core.py", line 764, in __call__
    return self.main(*args, **kwargs)
  File "/Library/Python/2.7/site-packag

[2019-07-24 20:23] digital1dragon opened #102 "Error with Users/Channels file"
After pulling a full backup from Slack, I'm faced with the following error.

`Nate-mBP:~ nroy$ slack-export-viewer --no-external-references -z ~/Downloads/SlackExports/Test/
Archive already extracted. Viewing from /Users/nroylance/Downloads/SlackExports/Test...
Traceback (most recent call last):
  File "/Library/Frameworks/Python.framework/Versions/3.7/bin/slack-export-viewer", line 10, in <module

[2019-07-25 03:40] hfaran commented on #100
This looks like the same issue as #102 so I'll follow up on that issue

[2019-07-25 03:40] #100 closed

[2019-07-25 03:44] hfaran opened #103 ""single-file export" CLI command broken"
Reported by @rmacklin in https://github.com/hfaran/slack-export-viewer/pull/93#issuecomment-514863219

I think this broke the "single-file export" CLI command added in https://github.com/hfaran/slack-export-viewer/pull/79
[code]

[2019-07-25 03:49] hfaran commented on #102
@digital1dragon Do you mind using a debugger and adding a breakpoint at this line and check what `self.__USER_DATA` contains and compare it to the values in `mpim["members"]`?

I can also debug this myself but I would need to use your dataset because I don't see the same exception with the (relatively old) test dataset that I have. So I would prefer if you took a few minutes to step through this w

[2019-07-25 03:55] #103 closed

[2019-07-25 05:38] future731 commented on #102
I say this casually, but I suppose I've experienced this.
I can't remember the details, It might have been bots, deleted users, or inactive users. I'll check it.

Slack sometimes changes it's export format, so telling us the starting date of your export will be helpful.

[2019-07-26 21:50] dangom commented on #97
Same issue here using 0.9.5.

[code]

[2019-07-30 14:17] barnstws opened #105 "Error when a channel is empty"
We are on on a free subscription and we've long forgotten whether we used the default Random and General channels. They are empty after using https://github.com/zach-snell/slack-export and this causes an exception to the lines
[code]
in app.py. The workaround I did is to wrap this in an exception and return the first DM instead.

[2019-07-30 21:35] barnstws commented on #88
Looks like you need to sort entries in each json file

[2019-08-26 08:32] Deilan commented on #95
That would be very nice to have!

[2019-09-01 22:37] mikejgray commented on #67
I'm digging into this right now on a fork. I'll be sure to send in a PR if I get any traction.

[2019-09-05 00:13] MasterPuffin opened #107 "Error 500 when opening certain channels"
I get an error 500 always when I try to open a certain channel.
Attached is the log

[code]

[2019-09-08 11:42] barnstws commented on #107
I remember encountering this error. It has to do with the bots. It was easy to solve by adding the missing id into the users.json. Try sending a message to the bot, I think that should add the user. I remember putting a try catch somewhere. I can't find the data with the error anymore so no way to test. I'll try to post the possible solution.

[2019-09-09 00:04] zwartsy opened #108 "Changing the URL?"
Just can't work out how to change the URL from Localhost.
(New to python and dev work)
Thanks in advance.

[2019-09-09 00:08] hfaran commented on #108
`slack-export-viewer --help`

You're looking for the `-I/--ip` option.

[2019-09-09 00:08] #108 closed

[2019-09-09 00:29] zwartsy commented on #108
![image](https://user-images.githubusercontent.com/55067727/64496850-6594b180-d2e8-11e9-9357-c92026aa2484.png)
See above the error I receive.

[2019-09-09 00:34] hfaran commented on #108
1) That's not how command-line arguments work. Use `-I 10.100.1.192`.
2) You didn't specify an archive, that's why you're getting the error; if you don't point to an archive, what do you expect to be displayed? Please read the README.

[2019-09-09 00:38] zwartsy commented on #108
1. Thanks thats an easy fix
2. See below, it currently does have an archive and works with localhost:5000
![image](https://user-images.githubusercontent.com/55067727/64497012-cf618b00-d2e9-11e9-8051-1f2725959b8e.png)

[2019-09-09 09:19] future731 commented on #68
I think this issue is resolved thanks to @lsmith77

[2019-09-09 09:19] #68 closed

[2019-09-10 02:08] zwartsy commented on #108
Got there my self thanks mate.
See bellow, I edited the main.py for the slack archive as per bellow.

![image](https://user-images.githubusercontent.com/55067727/64578606-11103580-d3bf-11e9-8e76-a88e710c827f.png)

[2019-09-18 16:55] skylerheise opened #109 "KeyError when pointing viewer to .zip"
I keep getting the following error and trace when I try to open the export viewer: Traceback (most recent call last):
  File "/usr/local/bin/slack-export-viewer", line 10, in <module>
    sys.exit(main())
  File "/Library/Python/2.7/site-packages/click/core.py", line 764, in __call__
    return self.main(*args, **kwargs)
  File "/Library/Python/2.7/site-packages/click/core.py", line 717, in main

[2019-09-19 07:44] hfaran commented on #107
Would help to add a breakpoint on this line and see what properties `message` contains. Either the name of the property has changed from `"bot_id"` to something else or it isn't there at all.

[2019-09-19 07:45] hfaran commented on #109
Can you add a breakpoint on this line and see what __USER_DATA contains? Looks like for some reason that name isn't populated in the dictionary with that ID.

[2019-09-19 07:46] hfaran commented on #105
What's the exception that is thrown?

[2019-09-20 17:59] skylerheise commented on #109
What do you mean by "add a breakpoint on this line"? I'm assuming I'm not just navigating to the user data directory path.

[2019-09-23 03:20] james-storey commented on #107
Running into a similar issue. The message object indeed does not contain a "bot_id" field at all. In my case, the offending message is an imported message that was sent by a bot, but not in slack. So while it is technically a bot message, there is no bot to link an id with.
[code]

[2019-09-23 19:30] skylerheise commented on #109
A colleague of mine tried it with a new install of the viewer, and ended up getting the same error as I did.

[2019-10-21 04:50] #67 closed

[2019-10-21 04:50] #81 closed

[2019-11-01 22:20] odelamp opened #111 "FileNotFoundError: [Errno 2] No such file or directory:"
Hiya, I'm unable to get to work, seeing the following:
slack-export-viewer -z ./Test.zip
/var/folders/gk/bfc6585n3978hhfg5csf21nh0000gq/T/_slackviewer/75b85b8b74ebd38130549f260a1164a277385a61 already exists
Traceback (most recent call last):
  File "/usr/local/bin/slack-export-viewer", line 10, in <module>
    sys.exit(main())
  File "/usr/local/lib/python2.7/site-packages/click/core.py", line 764

[2019-11-04 10:52] Kaiohshin opened #112 "Search feature?"
Could you add a search feature to search for PII data as part of GDPR requests?

[2019-11-09 14:52] phivk opened #113 "Messages not showing in channels"
the tool seems to run without errors (I also tried with `--debug`), and results in an accurate list of channels, but the resulting channels do not show any messages:

<img width="952" alt="Screenshot 2019-11-09 at 3 47 24 PM" src="https://user-images.githubusercontent.com/902958/68530443-75d90500-0308-11ea-93ed-a705317f0fae.png">

Running on Mac OS 10.14.6. I tried both latest Firefox and Chrome..

[2019-11-11 03:37] future731 commented on #111
Please extract Test.zip in your local environment and confirm whether users.json exists or not.
It would be helpful if you could check /var/folders/gk/bfc6585n3978hhfg5csf21nh0000gq/T/_slackviewer/75b85b8b74ebd38130549f260a1164a277385a61/users.json

[2019-11-11 18:53] anocai commented on #109
Same error as above.

[2019-11-24 02:11] circlecloudcommunications opened #114 "Unable to view output"
I have set up everything as described but am unable to view any output when entering the external IP followed by port 5000 as the program indicates.

I tried installing Apache and I now get nothing on port 5000 but an Apache server page on port 80.

How can I get this app to display whenever I set the app up on my Digital Ocean droplet I get this:

root@slack-viewer:~# slack-export-viewer -z slack

[2019-11-24 23:53] hfaran commented on #114
You need to use the `-I` option as per the documentation: https://github.com/hfaran/slack-export-viewer#installation
If you don't, by default it is only served on localhost.

[2019-11-24 23:53] #114 closed

[2019-11-24 23:54] hfaran commented on #113
What version of the tool are you using?

[2019-11-26 08:16] phivk commented on #113
not sure how to check the version I have installed, but I installed on 9 Nov via:
[code]

I can confirm I have messages in the archive.
I just noticed this error at the start of the command line log:
[code]

[2019-12-09 19:00] msiemens commented on #107
I have the same issue, by the way. Adding a check if the `bot_id` key exists in this line:

https://github.com/hfaran/slack-export-viewer/blob/b5b178fec44a341d14ba1f4a7dc873ae1d923f14/slackviewer/formatter.py#L32

fixes it.

[2019-12-13 17:38] asmaier commented on #105
I ran into the same issue. The exception is

[2019-12-13 20:38] brucehvn opened #115 "list: index out of range error - 1.0.0"
When I'm trying to run slack-export-viewer, I'm getting a 500 error in the browser.  The debug output shows an index error trying to retrieve channels[0].  My export is valid and I've viewed it before, so it might be something to do with Python on my system.  Maybe some update to Python that changed some behavior?

[code]

[2019-12-13 20:56] #115 closed

[2019-12-13 20:57] brucehvn commented on #115
Sorry, using wrong export folder.

[2019-12-13 23:13] brucehvn commented on #113
I'm having the same problem with 0.9.5.  I'm on ubuntu 18.04 LTR 64-bit.  The problem happens with both Chrome and Firefox.  When looking at the developer tools, there are no errors in the javascript console, but when choosing "select element", you can't get just the messages pane.  The whole page is highlighted when hovering over the messages pane.  Looking at the DOM in the developer tools, ever

[2019-12-13 23:47] brucehvn commented on #113
Ok, did a little more digging.  The `<div>` tag with id `messages`, has a width style of:
`width: calc(100vw - 304px);`
This appears to be the problem child.  If I changed that to a fixed width like 1000px, then the messages show up.
On Firefox (71 64-bit), Chrome (79 64-bit), and Vivaldi (Chromium based, 2.9.1705.41 64-bit), if I change that style on the `messages` div to `width: calc(100vw - 305

[2019-12-13 23:56] brucehvn opened #116 "Export never finishes loading [1.0.0]"
slack-export-viewer 0.9.5 works, however I just updated to 1.0.0.  Now when I run it, I get the following output in the console:
[code]
and that's it.  It never finishes loading and I don't get a browser window, etc.  I've tried the --debug flag, but it doesn't output any other info.  This is an unzipped data folder.  While it's hung, hitting CTRL-C still kills it off.  I've left it as long as 1/2

[2019-12-14 00:26] brucehvn commented on #113
Pull request #117 added to fix this.

[2020-01-07 04:39] chopley commented on #105
This is a problem when no public channels are requested in the export. This can be handled by adding other messages types possible from https://github.com/zach-snell/slack-export e.g. private groups, DMS etc.. A suggested start for bug correction is below _..packages/slackviewer/app.py_

`@app.route("/")
def index():
    channels = list(flask._app_ctx_stack.channels.keys())
    groups = list(flask

[2020-01-13 10:40] turbo commented on #115
@brucehvn Can you explain what you did wrong? I'm running into the same issue. channels.json is definitely not empty, and all channels have a `name`.

[2020-01-13 10:43] turbo commented on #115
@hfaran Please reopen this, this is still a bug. The fix is in https://github.com/hfaran/slack-export-viewer/issues/105#issuecomment-571430636

[2020-01-14 09:17] hfaran commented on #115
@turbo #105 is already tracking this bug so we'll leave that open until the PR fixing that one is merged (and leave this issue closed). This is a duplicate of #105 isn't it?

[2020-01-14 09:26] hfaran commented on #116
@brucehvn Can you walk through this with a debugger and test how far it gets? The only thing I have to test with is my test archive in this repo and that still works fine so I'll either need you to let me know where it's hanging or provide with me a sample archive that triggers this so I can reproduce it on my end.

[2020-01-16 04:56] #105 closed

[2020-01-16 06:47] hfaran commented on #105
Release 1.0.1 published

[2020-01-16 06:47] hfaran commented on #113
Release 1.0.1 published

[2020-02-06 16:07] bknope opened #120 "User of message subtype "file_comment" not parsing"
The user id is under the key "comment" with the "user" value instead of in the main section.

This appears to only be occurring when the message is a subtype of "file_comment".

Console output reports: "ERROR:root:unable to find user in..." because it is not looking in the "comments" key.

[2020-02-27 05:03] pkaldis opened #121 "Execution fails with KeyError: 'replies'"
Running the viewer against our data export takes a bit of time, but eventually it exits with the following error:

pkaldis@anatomy ~/Desktop/Export --> slack-export-viewer -z data_export.zip
/var/folders/gt/f1j5l07n1zd6_3r_7rz6jgzc0001g1/T/_slackviewer/90d4e276bb39a4adce4ff381bf0ce8bef12e7bf6 already exists
Traceback (most recent call last):
  File "/usr/local/bin/slack-export-viewer", line 11, in

[2020-02-28 07:09] DavidGerva commented on #116
Hi @hfaran, I did a quick analysis because I have the same problem of @brucehvn. I face an execution stall (it never gets to launch the server) either extracting from zip or using the already extracted folder.

I think the problem is the `def _build_threads(self, channel_data):` function of the `reader` module. For very large channels the function takes a really long time, I don't understand if it

[2020-03-03 20:28] Iwifia commented on #121
Same issue here running python 2.7 and 3.6

[2020-03-03 20:36] Iwifia opened #122 "Error when running"
[code]

[2020-03-03 21:05] hfaran commented on #121
Schema might have changed in the export - can you put a breakpoint there to see what keys are in the dictionary to figure out what it might have changed to?

[2020-03-03 21:06] hfaran commented on #122
Duplicate of #121

[2020-03-03 21:06] #122 closed

[2020-03-03 21:08] Iwifia commented on #121
[code]

[2020-03-03 21:09] Iwifia commented on #121
[code]

[2020-03-12 11:58] PLUSOROCHI opened #123 "setup error: about GBK"
//I have corrected the error in setup.py by adding encoding='UTF-8'  please update it
def read(filename):
    """Read and return `filename` in root dir of project and return string"""
    here = os.path.abspath(os.path.dirname(__file__))
    return codecs.open(os.path.join(here, filename), 'r',encoding='UTF-8').read()

[2020-03-16 11:46] hfaran commented on #123
Done: https://github.com/hfaran/slack-export-viewer/commit/f2d6abf773857660a9f6f2f1ee6cb452fc92ad9d

[2020-03-16 11:46] #123 closed

[2020-03-18 18:56] msymeonides opened #124 "Channels do not appear, only DMs/Group DMs"
I exported my Slack data using [slack-export](https://github.com/zach-snell/slack-export) by @zach-snell and zipped the results. I then viewed the zip archive using slack-export-viewer. While it is working great for DMs and group DMs, it does not show any of my channels. There should be 9 channels, and I have verified that the channels are present in the slack-export dataset and in the zip archive

[2020-03-18 19:16] #124 closed

[2020-03-25 14:03] magdics opened #125 "KeyError: u'USLACKBOT'"
Can't seem to get slack-export-viewer to read our exports:  please advise.

File "/Library/Frameworks/Python.framework/Versions/2.7/bin/slack-export-viewer", line 11, in <module>
    sys.exit(main())
  File "/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/site-packages/click/core.py", line 722, in __call__
    return self.main(*args, **kwargs)
  File "/Library/Frameworks/Python.fra

[2020-03-26 00:59] semperrabbit commented on #125
I had an issue with this previously, but hacked my way around it late 2017. That hack subsequently broke after syncing with upstream in early '18.
Tldr: pretty sure it's bc slack formally decommissioned it, so the username doesn't exist and will not show up in the user list. Also, the messages associated arw a different format with additional fields including the IRC username that originated the m

[2020-04-01 20:40] landonepps commented on #121
I changed line 199 to:
`for reply in message._message.get('replies', []):`
just as a quick patch.

[2020-04-02 17:52] mario6097 opened #126 "enhance as to force download image files (thumbs too)"
It would nice to  enhance slack-export-viewer with an option to  download image files  (and their thumbs too). So, image links within final .html could be to local copies (instead that to slack.com/files).

[2020-04-08 19:42] blacky14 commented on #121
the thread replies are no longer embedded in the messages themselves.

they are now separate messages/blocks that are correlated via the `thread_ts` values, as also explained here: https://api.slack.com/messaging/retrieving#finding_threads

[2020-04-11 08:05] puma10 commented on #116
Same Issue here

[2020-05-13 10:11] IndianTinker opened #127 "Allow HTML export (useful when migrating to Teams)"
Hello, Thanks a lot for the tool. It is absolutely magic.
I realize that it dynamically generates a page. Is it possible to somehow get a HTML page output that can be used to import things in Teams?

Or is there a directory that already has it?

Thanks :)

[2020-05-15 04:49] hfaran commented on #127
Try this: https://github.com/hfaran/slack2html
If you have a problem with that tool, feel free to open an issue in that repo.

[2020-05-15 04:49] #127 closed

[2020-05-15 15:20] nvitiritti opened #128 "Running slack-export-viewer returns errors"
* Serving Flask app "slackviewer.app" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off
 * Running on http://localhost:5000/ (Press CTRL+C to quit)
127.0.0.1 - - [15/May/2020 11:04:39] "[35m[1mGET / HTTP/1.1[0m" 500 -
INFO:werkzeug:127.0.0.1 - - [15/May/2020 11

[2020-05-28 16:04] NernTheStrudel commented on #128
Also getting this error.

[2020-06-21 01:09] fzimmermann89 commented on #121
While looking at this, I noticed what I think might another bug/potential bug:
https://github.com/hfaran/slack-export-viewer/blob/af67f79f0968b4f8981ab96468b62a816be82b87/slackviewer/reader.py#L203
followed by
https://github.com/hfaran/slack-export-viewer/blob/af67f79f0968b4f8981ab96468b62a816be82b87/slackviewer/reader.py#L210

The for loop goes through an list which and inside the body of the loo

[2020-06-25 17:03] supermitch opened #131 "Documentation of Archive Format?"
I'm writing code using Slack's discovery APIs, which means I'm not getting an entire export of the workspace as a .zip. However, I'd love to use your script to convert to HTML, regardless.

To do that, I would like to essentially build my own `archive.zip`. However, that would require understanding exactly what your code is looking for, in terms of archive structure.

**Note:** I'm guessing you ar

[2020-07-06 22:16] supermitch commented on #111
@odelamp make sure you don't zip the folder containing your channels, but only the channels & files themselves, i.e. the channels and JSON files `users.json`, `channels.json`, etc, should be at the _root_ of your .zip archive.

[2020-07-14 14:35] jwh1981 commented on #109
I am having the same issue. The cause of the KeyError (for us) is that the user in question is not with our organization and an outside consultant. Therefore they are single channel and not in our users.json

The issue then appears to be that, since the mpims.json has an invalid user, the program fails.

[2020-08-03 15:06] flipflopfpv commented on #131
The archive isn't anything special, just unzip an export from slack and look at it. Bunch of json files. most of what you'll ever need is easily inferable from the files.

[2020-08-12 04:37] huyz commented on #73
The easiest may be to port to using static site generators such as GatsbyJS, which has plugins to handle pagination for you.

[2020-08-12 06:58] aadilsomani opened #132 "Deploying to a server (Heroku)"
Hey, I was having some trouble figuring out how to deploy this flask app to a server, if anyone has ever done it, I would love some help as to what the contents of the Procfile should be and if/how the scripts should be managed to run. I saw someone managed to get the app working on a server along with being able to upload zips, however I couldn't even get it on a simple Heroku server.

Could real

[2020-08-20 23:44] huyz commented on #131
@supermitch You may be duplicating work.  See https://github.com/wolever/wayslack (and my upcoming updates to it—see issues)

[2020-08-20 23:47] huyz commented on #112
@Kaiohshin Instead of waiting for search here, I would suggest you import the Slack export into Mattermost instead, which comes with cross-platform app and search capabilities.

[2020-08-20 23:48] huyz commented on #73
@ikeji @semperrabbit I've found that the simplest solution was to import the Slack export into Mattermost. This solves the scalability issue

[2020-08-21 00:32] semperrabbit commented on #73
@huyz Unfortunately, that's not a feasible solution for my slack community (>20k members) and our mod team. Even the game devs have reluctantly agreed we should not fracture the community. We've looked into alternatives about a year ago when a small vocal minority pushed for moving us to discord and the devs nixed it. I have a reasonable belief that the devs would host a slack history of we (commu

[2020-08-21 03:03] huyz commented on #73
@semperrabbit That's not what I'm suggesting.  I'm not saying "migrate". I'm saying "use Mattermost as a read-only UI for viewing and searching", which is exactly what you want slack-export-viewer to do.

[2020-08-21 07:14] Kaiohshin commented on #112
thanks huyz
I think I ended up using something else

[2020-08-25 05:11] Shuning-Zhang commented on #111
@supermitch I did what you said, but when I was opening the channels.json.zip it still shows the same thing as it was showed up there? what did I do wrong?

[2020-08-26 17:35] jkcen commented on #112
Hi @Kaiohshin can you recommend the alternative? I need the search feature as well. Thanks!

[2020-08-28 20:22] supermitch commented on #131
Slack send me this link: https://slack.com/intl/en-ca/help/articles/220556107-How-to-read-Slack-data-exports

I still think this project has room for documentation, but probably hard to beat this.

@huyz I saw your (newly forked) project, but I'm not sure how I can make use of it for discovery. I don't see how to export a specific user's conversations, for example.

[2020-08-29 06:30] huyz commented on #131
@supermitch my fork allows getting a private token for a specific user so that you can export the user’s private and public messages and files.
The easiest thing for u to do is run it, take a look at the directory structure and json files. Do the same with the manual export from the Slack web UI. Compare and analyze. Don’t be afraid to dive into the json files. You real don’t need docs

[2020-09-10 17:58] digi-jared commented on #112
Being able to search for anything (not just limited to PII) would be extremely helpful!

[2020-09-14 09:31] stevieboy84 commented on #132
Also keen to figure this out, will experiment today and see if I can figure it out

[2020-09-15 20:58] supermitch opened #135 "Display message edits"
I believe the library currently does not display message updates & deletes.

https://slack.com/help/articles/220556107-How-to-read-Slack-data-exports

The **How to read an edited message** section states:

I don't have a corporate export to work with at the moment, but it might be a nice feature to add.

[2020-10-09 14:43] saswat-pandey opened #137 "'slack-export-viewer' is not recognized as an internal or external command, operable program or batch file."
I am a beginner in python. But I saw this was a very highly rated package. I did the necessary steps, but ran into the issue where when I wrote "slack-export-viewer --help" I got the message as:

'slack-export-viewer' is not recognized as an internal or external command, operable program or batch file.

Could you please guide me as to how I can use this.
![py](https://user-images.githubusercontent

[2020-10-18 16:54] adriencarbonne commented on #126
Hello,
If you are on Windows and okay with some Powershell magic, you can use https://github.com/jwts-dev/slack-history to download image files and thumbnails locally. It also updates Slack's exported JSON files so that slack2html output uses locally hosted files.

[2020-10-30 23:08] tjanez commented on #88
This has been fixed in #106.

[2020-10-30 23:08] #88 closed

[2020-11-04 06:09] RiyaBasale commented on #19
Hello i am facing the same problem with flask, when i use the local host as u recommended i am getting 404 Not Found error

[2020-11-25 04:36] iokobi opened #138 "Threads in channels not showing up"
Just noticed that there are no replies or conversation threads showing up.
Is this a bug or am I doing something wrong during the export?

[2020-12-03 23:12] harshavardhana commented on #72
I see the following crashes with v1.0.4

[code]

[2020-12-07 19:23] hdsheena commented on #111
I'm having this same issue, I have checked the tmp folder does contain users.json but I see this error regardless :(

[2020-12-07 21:55] hdsheena commented on #111
My zip was at the wrong level. I had a zip of the containing folder. When I zipped just the contents, problem went away :)

[2020-12-07 21:56] hdsheena commented on #138
I see that too, though not sure if its the export or not yet

[2020-12-07 21:58] hdsheena commented on #138
Yeah, my data doesnt have the threads, so hoping I can address it from that side!

[2021-02-24 09:58] tjanez commented on #102
I recently encountered the same issue. The PR #139 solves it for me.

[2021-02-24 11:22] #102 closed

[2021-03-07 20:37] jafrado opened #140 "useful tool slack-mirror"
Hamza, thank you for your work! I made this last week to use with your program - https://github.com/jafrado/slack-mirror

[2021-03-09 03:46] hfaran commented on #140
Thanks for sharing

[2021-03-09 03:46] #140 closed

[2021-03-09 03:53] hfaran commented on #137
This is an issue with your environment setup, not with the tool. I can't help you with your Python install.

[2021-03-09 03:53] #137 closed

[2021-03-09 03:54] hfaran commented on #125
Resolved by #133

[2021-04-01 04:36] williamsantoso93 opened #141 "Cannot Install"
Has anyone get this problem?
I have install using pip install slack-export-viewer

<img width="548" alt="Screen Shot 2021-04-01 at 11 35 07" src="https://user-images.githubusercontent.com/49981969/113243999-51574180-92de-11eb-932c-a57247068137.png">

Thanks

[2021-08-15 01:13] thomasvandoren commented on #116
This might be related to performance—it can take a very long time to parse through a large archive. If that was the root cause, this pr may help: https://github.com/hfaran/slack-export-viewer/pull/142

[2021-08-31 09:50] cstuder commented on #141
Try

[code]

[2021-09-30 10:31] etcy opened #143 "Cannot seem to get it to work with non-english channel names"
Only 4 out of 100+ channel names are english for me. So after running this, only the 4 channels appear on the side bar.
I checked the zip file just to be sure. The folders and json are intact. If I view the json file, it shows the folder names correctly (since the JSON is in UTF8).

OS is Windows 10, Japanese ver.

Any ideas?

[2021-09-30 10:49] etcy commented on #143
If I do the following:
1. Unzip the exported file
2. Rename the folder to only english
3. Edit channels.json, make the same rename done in (2)
4. Create the zip again.

The missing channel now shows correctly (in english).
It's going to be a nightmare to do this manually.

Any suggestions would help. Please?

[2021-10-01 07:10] etcy commented on #138
I am using the newest ver 1.1.
Threads show up at the end of the page, rather than in chronological order alongside messages.
This makes it impossible to make sense of the contents.

Anything I can help to debug this problem?

[2021-10-01 11:10] etcy commented on #138
I did further testing with 1.5 years of export.
Some of the thread replies do appear in the right date order.
But some of it simply shows up at the end of the page. I have not been able to find a pattern to this logic.

[2021-10-01 13:31] etcy opened #144 "Request for example to debug app"
Hi,
Other than pip install, can someone kindly share how to run this app without installing so that I can try some changes made to source code.

1. I figured the need to install the requirements.txt
2. DL the source code
3. How do I run the app after making changes, say to reader.py?

Is it?
flask run -z zipfile ?

[2021-11-07 03:47] shosatojp commented on #143
I found this is caused by the python's zipfile module. I could view channels of non ascii (Japanese) name by following steps.

1. get tmp directory by starting with test mode.

[code]

2. remove all existing files and manually unzip to this directory

[code]

3. start the app

[code]

[2022-01-26 14:46] zeug-it opened #145 "Not reading / displaying all .json files"
I created a backup for the whole workspace and started the viewer, but in all channels the messages end month ago, even if the .json files are present in the channel folders. There are no error messages - even in debug mode, there are no messages, but one:
`ERROR:root:unable to find user in {`

Has anybody an idea?

Greetings,
Martin

[2022-03-15 21:10] devianvii commented on #138
@etcy hotfix for our problem: https://github.com/devianvii/slack-export-viewer

[2022-03-15 21:26] devianvii commented on #138
@iokobi @hdsheena It is most likely that your problem is related to https://github.com/hfaran/slack-export-viewer/issues/121.
Starting from some version, Slack stopped including threads in messages.
How do you export?

[2022-04-23 19:41] GABuryan opened #147 "How to make the answers be next to the channel message"
Thanks for good work.
I'm downloading messages from the channel. 1 date -1 json-file. Viewer excelent work. But often replies to messages appear after a few days. And it's just that with sequential output, it's not clear which message they refer to. How can this problem be solved? In json file same key "thread_ts".  is it possible to somehow use this when unloading. Or is the strategy of unloading

[2022-04-23 19:52] devianvii commented on #147
The problem is sorting replies messages in the viewer after refactoring.
There is a very rough fix here (but it works for me): https://github.com/devianvii/slack-export-viewer

[2022-04-23 19:55] GABuryan commented on #147
thanks, I'll try and write about the result

[2022-04-23 20:11] GABuryan commented on #147
in this viewer I get this error - "  File "D:\sl_pr\venv2\lib\site-packages\slackviewer\reader.py", line 226, in _build_threads
    for reply in message._message['replies']:
KeyError: 'replies'"

Apparently we need a different format for uploading.

[2022-04-23 20:16] GABuryan commented on #147
I downloading channels with project https://github.com/chr1spy1/slack-export

[2022-04-23 20:53] GABuryan commented on #147
Спасибо, бро. Твой экспорт и вьювер реально лучшие. Успехов.

[2022-04-23 21:10] #147 closed

[2022-04-23 22:52] hfaran commented on #147
@devianvii I thought I had merged your PR, but turns out I hadn't. Just merged it now, thanks for you fix. I'll make a release later, perhaps.

[2022-04-23 22:58] #141 closed

[2022-05-16 07:40] Neznakomec opened #148 "KeyError: 'text'"
Traceback (most recent call last):
  File "C:\Anaconda3\lib\runpy.py", line 194, in _run_module_as_main
    return _run_code(code, main_globals, None,
  File "C:\Anaconda3\lib\runpy.py", line 87, in _run_code
    exec(code, run_globals)
  File "C:\Anaconda3\Scripts\slack-export-viewer.exe\__main__.py", line 7, in <module>
  File "C:\Anaconda3\lib\site-packages\click\core.py", line 1128, in __call_

[2022-05-18 07:35] unnisathyarajan opened #149 "Recursion Error"
Some channels with a long history and messages containing very long threads cannot be opened.
It displays:

RecursionError: maximum recursion depth exceeded while calling a Python object

[2022-05-31 04:09] #148 closed

[2022-06-16 02:38] GABuryan opened #151 "why doesn't it show some pictures"
Some pictures does not show. Server write : "INFO:werkzeug:127.0.0.1 - - [16/Jun/2022 05:24:28] "[33mGET /static/files.slack.com/files-pri/TPV9DP0N4-F03ETN77K0X/img_20220512_212703.jpg HTTP/1.1[0m" 404 -
127.0.0.1 - - [16/Jun/2022 05:26:06] "GET /static/files.slack.com/files-pri/TPV9DP0N4-F03F8BDMKNE/img_20220512_213650.jpg HTTP/1.1" 404 -
INFO:werkzeug:127.0.0.1 - - [16/Jun/2022 05:26:06] "[33

[2022-06-24 15:29] GABuryan commented on #151
Oh.. this is my bug. First I installed the viewer via venv pyton. Then copied the directory. But the relative paths of venv remained the same. For a long time I could not understand why the fslak server does not find all the image files.

[2022-06-24 15:29] #151 closed

[2022-07-19 23:04] kLy opened #152 "TypeError: emojize() got an unexpected keyword argument 'use_aliases'"
Running 1.1.3 on macOS with pipx. I get this 500 When just starting up the server and loading the root in my browser.

Stack trace:

[code]

[2022-07-20 03:03] huyz commented on #121
@davidakerr Just switch to https://github.com/huyz/wayslack which is updated

[2022-07-21 02:40] silver198545 commented on #152
I recently installed it myself.
Is the version of emoji 2.0.0?

It seems that emoji 2.0.0 is a recent release.
You cannot use 'use_aliases'.
https://pypi.org/project/emoji/

Changing to "language='alias'" instead will work.

[2022-07-23 03:31] #121 closed

[2022-07-23 03:33] #152 closed

[2022-07-25 20:35] kLy opened #156 "Attachments getting 404"
When browsing, no images / attachments are visible, and when I click on them, I get a 404.

Going to:
`http://localhost:5050/channel/art-style/attachments/F023TQ4DW5Q-image.png`

Gives me:
`INFO:werkzeug:127.0.0.1 - - [25/Jul/2022 13:24:46] "GET /channel/art-style/attachments/F023TQ4DW5Q-image.png HTTP/1.1" 404 -`

However the attachments are present in the directory of the export:
[code]

Is this

[2022-07-26 00:20] harpomaxx opened #157 "slack-export-viewer doesnt work with recent version of werkzeug"
I've installed `slack-export-viewer` using `pip` and `pipx` and in both cases, I've got the error
[code]
Looking at stackoverflow I found a mention about [this](https://stackoverflow.com/questions/71695691/flask-app-ctx-stack-ident-func-error-due-to-ident-func-deprecated-in-we) similar issue.
It seems that has something to do with a recent update to the `werkzeug` library. As suggested in at Stack

[2022-07-26 06:55] Damnum commented on #157
@harpomaxx did you do anything else? I've installed werkzeug 2.0.3 and I'm still getting the same error

[2022-07-26 16:27] MakingSpiderSense commented on #157
Worked for me after installing 2.0.3. Thanks!

[2022-07-26 20:42] stiltr commented on #157
Worked for me with:
`pipx runpip slack-export-viewer install werkzeug==v2.0.3`

[2022-07-27 03:17] tamasan238 opened #158 "Channels with Japanese channel names are not displayed."
Example: 幹部, エピローグ, 技術

Instead, I changed channel names to English before export.
But I want to view threads without changing channel names.

[2022-07-27 09:07] ronnydw commented on #157
Thanks @stiltr , indeed it works with werkzeug v2.0.3. I tried with werkzeug v2.2.0 which didn't work

[2022-08-03 20:06] lucajovine commented on #156
I also cannot see the attachments...

[2022-08-11 18:43] jowebb commented on #111
Hello - I have a similar issue but in my case the tmp folder doesn't contain anything. So the error message is legit, I just don't know what to try next. The zip has users.json etc. at the root unless I'm missing something.

From the Cygwin64 terminal:
$ slack-export-viewer -z slackexport.zip
/tmp/_slackviewer/fd2c7fb58f5761cbdf6086edb4b401198a500a10 already exists
Traceback (most recent call last

[2022-08-11 23:57] jowebb commented on #111
Figured out my own problem... no idea what was up with the original zip - but simply recreating it (with exactly the same content as before) worked (other than image rendering and displaying video filename but those are separate issues). Nice solution overall though - thanks!

[2022-08-12 00:39] jowebb commented on #156
Same issue as kLy - I used the [slackdump](https://github.com/rusq/slackdump) tool to get an export of DMs and attachments as well as public channels as Slack's export only does public channels on free tier. Had to unzip and recreate zip to resolve another issue but it worked fine other than not displaying images (or recognizing videos):

127.0.0.1 - - [11/Aug/2022 17:21:09] "GET /channels/general

[2022-08-16 13:42] csaket opened #159 "NoneType error"
Running into an issue with archive that used to work.
viewer displays error and exists.
[code]

No further output whether debug is used or not.
Tested on windows and wsl/linux

[2022-08-16 18:01] csaket commented on #159
closing as this seems to be a bug with slackdump

[2022-08-16 18:01] #159 closed

[2022-08-18 15:07] csaket commented on #156
I have the same issue as well

[2022-09-20 15:50] brianedow opened #162 "Add export filter"
Are there any thoughts on adding a command-line filter argument that would display messages from a user and if a user is involved in a conversion?

[2022-10-11 20:08] kLy commented on #156
Any update on this? Or anyone found any workarounds? Was this reproducible by the developer?

[2022-11-22 08:51] ExploWare commented on #156
The slack export viewer was probably designed for official Slack exports, not slackdump-like.
therefor it is not able to reference local files. Flask (the internal webserver used here) is not based on local file systems and it's static content is pointed to a folder inside the slackviewer source, where viewer.css is served.
If you need it, you could place the file structure in there, but that woul

[2022-11-22 09:30] jlause commented on #156
Hi @ExploWare ,

I have the same issue and would be interested to try the manual step you described..
So do I understand correctly that I would need to copy the slackdump directory to the `slackviewer` folder inside my python/anaconda folder? (e.g. in my particular case at `/home/user/miniconda3/envs/myenv/lib/python3.10/site-packages/slackviewer/static` ?
Will try that now..

[2022-11-22 09:37] jlause commented on #156
(PS: Did not work first try - e.g. I have an image link in the slackviewer html

`http://localhost:5000/channel/channelname/attachments/F03NMKELY03-image.png`

and made a folder

`/home/user/miniconda3/envs/myenv/lib/python3.10/site-packages/slackviewer/static/channel`

into which I copied the exported `channelname` folder which contains the correct attachment at `attachments/F03NMKELY03-image.png

[2022-11-22 12:50] ExploWare commented on #156
@jlause I've downloaded slack-export-viewer from git, so it is in my downloads folder, extracted the zip there, went into that folders slackviewer/static (I did it on windows, so something like %USER_PROFILE%\Downloads\slack-export-viewer-1.1.4\slackviewer\static)
I only exported one conversation, so into there I copied the conversation folder, and changed the .json file references to reflect acco

[2022-11-28 19:49] kLy commented on #156
Great! I'll try that as a workaround.

At the root of it though, what should be fixed? Is it slack-export-viewer to handle the static local format? Or slack-exporter to make it output the right format?